@import './src/styles/vars';

.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    a {
        color: #000;
        text-decoration: none;
    }
}
.element {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 250px;
    margin: 10px;
    padding: 20px;
    box-shadow: $box-shadow;
    &:hover {
        box-shadow: $box-shadow-active;
        transition: 0.4s;
    }
    .name {
        padding: 10px;
        text-align: center;
    }
    .img {
        display: block;
        height: 200px;
        margin: 10px auto;
    }
    .price {
        padding: 10px;
        text-align: center;
    }
}
