@import './vars';
@import './mixins';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

:global {
    .wrapper {
        max-width: 1200px;
        margin: auto;
    }
}

::-webkit-scrollbar       { width: 8px; height: 8px;}
::-webkit-scrollbar-thumb { height: 50px; background-color: rgba(72, 81, 81, 0.35); border-radius: 2px;}
::-webkit-scrollbar-track { background-color: rgba(72, 81, 81, 0.2); }
