body {
	margin: 0;
	padding: 0;
	background: #fff;
}
.img {
	width: 200px;
	height: 200px;
	border: 1px solid #000;
	background-image: url(../assets/picture.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
