@import './src/styles/vars';

.wrapper {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
        "img name"
        "img price"
        "img description";
    padding: 50px 10px;
    font-family: sans-serif;

    .img {
        grid-area: img;
        height: 400px;
    }
    .name {
        grid-area: name;
        font-weight: bold;
        color: $color-text;
    }
    .price {
        grid-area: price;
    }
    .description {
        grid-area: description;
        font-family: sans-serif;
        line-height: 1.7;
    }
    .name, .price, .description {
        padding: 20px;
    }
}
